<h1 appHighlight>{{ title }}</h1>

<p>Este é o meu componete inicial</p>

<!-- Interpolação: valores no TS são injetados no template -->
<p>O produto de {{ numero1 }} e {{ numero2 }} é {{ produto }}</p>

<button (click)="logar()" [disabled]="isUnchanged">Logar</button>

<!-- create and set an aria attribute for assistive technology -->
<button type="button" [attr.aria-label]="actionName">{{ actionName }} with Aria</button>

<div>
    <input type="text" placeholder="name" [(ngModel)]="name"/>
    {{ name }}
</div>

<app-carrinho [mensagemDoCarrinho]="numero1"></app-carrinho>

<app-produtos [mensagem]="texto"></app-produtos>

<div>
    <img [alt]="textAlt" src="{{ itemImageUrl }}">
</div>

<!-- Property binding: alterar as propriedades dos atributos HTML -->
<div>
    <img [alt]="textAlt" [src]="itemImageUrl">
</div>
